body {
    background-image: url("../images/grey-background.jpg");
    margin: 0;
    padding: 0;
    align-content: center;
}
header {
    background: #ffffff;
    width: 100%;
    overflow: auto;
    position: fixed;
    top: 0;
    margin: 0 0 20px;
    border-bottom: solid #cccccc 2px;

}
.container {
    width: 100%;
    margin: 0 auto;
    clear: both;
}
#name {
    float: left;
    width: 300px;
    height: 90px;
    text-decoration: none;
    background: #4aaaa5;
    font-family: 'Georgia', Times, 'Times New Roman', serif;
    text-align: center;
    color: white;
    font-weight: bold;
    font-size: 25px;
    line-height: 90px;
    margin-left: 120px;
}
nav {
    float: right;
    margin-right: 130px;
}
nav a {
    text-align: center;
    margin-top: 28px;
    color: #999;
    display: inline-block; 
    padding-left: 20px;
    line-height: 25px;
    text-decoration: none; 
}
.profile {
    width: 960px;
    background: white;
    border: solid #dddddd 2px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 140px;
    padding: 30px;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    font: #777777;
}
.photo {
    display: block;
    margin-right: auto;
    width: 25%;
    
}
h1 {
    color: #4aaaa5;
    font-family: 'Georgia', Times, 'Times New Roman', serif;
}
hr {
    color: #dddddd;
    margin-bottom: 1.5em;
    margin-left: auto;
    margin-right: auto;
    height: 1px;
    background: #dddddd;
}
footer {
    border-top: solid #4aaaa5 7px;
    background-color: #666666;
    margin-top: 40px;
    position: sticky;
}
footer p {
    color: white;
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 10px;
    padding-top: 15px;
    margin-bottom:auto;

}
#name2 {
    float: left;
    width: 250px;
    height: 90px;
    text-decoration: none;
    background: #4aaaa5;
    font-family: 'Georgia', Times, Times New Roman, serif;
    text-align: center;
    color: white;
    font-weight: bold;
    font-size: 20px;
    line-height: 90px;
    margin-left: 250px;
}
nav1 {
    float: right;
    margin-right: 255px;
}
nav1 a {
    text-align: center;
    margin-top: 28px;
    color: #999;
    display: inline-block; 
    padding-left: 20px;
    line-height: 25px;
    text-decoration: none; 
}
.profile1 {
    width: 720px;
    background: white;
    border: solid #dddddd 2px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 140px;
    padding: 20px;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    font: #777777;
}
input[type=text], select, textarea {
    width: 100%; 
    padding: 10px;  
    border: 1px solid #dddddd;
    box-sizing: border-box; 
    margin-top: 5px; 
    margin-bottom: 10px; 
    resize: vertical 
}
.contact {
    border-radius: 5px;
    background-color: white;
    padding: 10px;
}
input[type=submit] {
    margin-bottom: 10px;
    text-decoration: none;
    background-color: #4aaaa5;
    color: white;
    padding: 8px 15px;
    border: none;
    cursor: pointer;
    font-size: 15px;
}
input[type=submit]:hover {
    background-color: #777777;
}
label {
    color: #777777;
}
.desert {
    margin-left: 100px;
    padding: 10px;
    width: 25%;
}
.flower {
    padding: 10px;
    width: 25%;
}
.computer {
    margin-left: 100px;
    padding: 10px;
    width: 25%;
}
.station {
    padding: 10px;
    width: 25%;
}
.hangman {
    
    background: #4aaaa5;
    float: left;
    padding: 10px;
    color: white;
    margin-left: 120px;
    margin-top: 0px;
    
}
